@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC");
article header {
  margin-bottom: 1.5em; }
  article header .the-title {
    line-height: 130%; }

article main.the-content {
  line-height: 150%;
  text-align: justify; }

.page .the-title {
  text-align: center; }

.featured-image {
  background-size: cover;
  background-position: center center;
  min-height: 450px;
  margin-bottom: 20px; }

.navbar {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px; }

.navbar-brand {
  font-size: 30px; }

.Read {
  background-color: #E540DF;
  color: black; }
  .Read:hover {
    background-color: #F74551;
    color: black; }

.site-footer {
  min-height: 80px;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid #555;
  background-color: #756A6C;
  color: white; }

.sidebar .widget {
  border-bottom: 1px solid #555; }
  .sidebar .widget:last-child {
    border-bottom: 0; }
  .sidebar .widget h2 {
    font-size: 1.2 em;
    margin-bottom: 0.50 em; }

.list-unstyled a {
  color: #E540DF; }

.the-content {
  font-size: 20px; }

body {
  font-family: 'Patrick Hand SC', cursive;
  font-weight: 200; }

.tagcloud a {
  font-size: 1.25 em; }
